<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectomarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMarket">
        <activity android:name=".ListUsuarioActivity"/>
        <activity android:name=".GetUsuarioActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ListCategoriaActivity" />
        <activity android:name=".ListProveedorActivity" />
        <activity android:name=".GetCategoriaActivity" />
        <activity android:name=".GetProveedorActivity" />
        <activity android:name=".createCategoriaActivity" />
        <activity android:name=".createProveedorActivity" />
        <activity android:name=".GetProductoActivity" />
        <activity android:name=".createProductoActivity" />
        <activity android:name=".ListProductosActivity" />
        <activity android:name=".HomeActivity"/>
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>